<div class="text-center">
  <div class="col-md-2 col-md-offset-5">
    <%= simple_form_for ([current_user, @timelog]) do |f| %>
      <div class="field form-group">
        <%= f.input :description %>
      </div>
      <div class="field form-group">
        <%= f.input :category %>
      </div>
      <div class="field form-group">
        <%= f.input :timespent %>
      </div>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
    <input class="btn btn-success hvr-push" type="button" value="start" onclick="start();">
    <input class="btn btn-danger" type="button" value="stop" onclick="stop();">
  </div>
</div>