<div class="row">
  <div class="text-center col-md-2 col-md-offset-5">
    <%= form_for @timelog, url: user_timelogs_path do |f| %>
    
      <div class="field form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-control" %>
      </div>
      <div class="field form-group">
        <%= f.label :timespent %>
        <%= f.text_field :timespent, class: "form-control" %>
      </div>
      <%= f.submit 'Save', class: "btn btn-primary" %>
    <% end %>
    <input class="btn btn-success" type="button" value="start" onclick="start();">
    <input class="btn btn-danger" type="button" value="stop" onclick="stop();">
  </div>
</div>